@model SampleModel

@{
    ViewData["Title"] = "Home Page";
}

<h2>Welcome to My MVC Application</h2>
<p>This is the home page of the application.</p>

<!-- You can display data from the SampleModel here -->
<!-- Example:  MyMvcApp.Models.SampleModel -->
<!-- <p>.PropertyName</p> -->